body{
    background-color: red;
    background-image: url("/aprendiendo-css/images/modern.jpg");
    background-repeat: repeat repeat-y;
    background-attachment: fixed;
    background-position: center;

}

.caja{
    border: 5px solid black;
    padding: 10px;
    
    color: white;
}