*{
    margin: 0px;
    padding: 0px;
}


.caja{
    width: 250px;
    height: 250px;
    background-color: rgb(23, 132, 227);
    border: 10px solid rebeccapurple;
    margin: 15px;
    padding: 20px;
    float: left;
}

p{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 230px;
}
